*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    background-color: #fff;
    color: #555;
    @include responed(big-desktop){
        font-size: 75%;
    }
    font-size: 62.5%;
   
    @include responed(tablet-landscape){
        font-size: 56.25%;
        
    }
    @include responed(tablet-port){
        font-size: 50%;
    }
}