.type-of-food{
    padding: 4rem 0;
background-color: #FFFAEE;
align-items: center;
display: flex;
flex-direction: column;
    background-color: $color-yellow-light;
    
}

.section-offer{
    padding: 10rem 0;
    background-color: $color-blue-dark;
    color:$color-black;
}
.section-recomend{
    padding: 10rem 0;
    background-color: $color-yellow-light;
}