
.btn{
&,
&:link,
&:visited{
    display: inline-block;
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    text-align: center;
    
}
   
    &__green{
        &,
        &:link,
        &:visited{

        
        
        padding: .7rem 3rem;
        border-radius: 3rem;
        background-color: #1BDFA3;
        box-shadow: 1rem 2rem 2rem rgba($color-black,.4);
        transition: all .2s;
        &:hover
        {
            transform: translateY(-4px);
        }
        &:active{
            transform: translateY(-2px);

        }
    }
        &-big:link,
        &-big:visited{
            float: right;
            font-size: 3rem;
            margin-right: 3rem;
            padding: 1rem 4rem;
        }
    }
    &__logo{
        padding: 0 1.3rem;
        text-align: center;
        height: 3.5rem;
        border-radius: 80px;
        box-shadow: 1rem 2rem 3rem rgba($color-black,.3);
        &:not(:last-child){
            margin-right: 1rem;
        }
        &-img{
            width:3rem;
            height: 3rem;
            margin:0 auto;
            margin-right: .5rem;
            
            
        }
        &-text{
            display: inline-block;
            text-align: center;
            transform: translateY(-.8rem);
        }
        &:hover
        {
            transform: translateY(-4px);
        }
        &:active{
            transform: translateY(-2px);

        }

    }
    &__red{
        
        background-color:$color-red-light;
       
    }
    &__blue{
        background-color: $color-blue-dark;
    
    }
    &__light-green{
        
        background-color:#1BDFA3;
    }

}

