.offer-table{
    background-color: $color-yellow-light;
    width: 90%;
    padding-bottom: 3rem ;
    box-shadow: 1.5rem 1.5rem 3rem rgba($color-black,.4);
    height: 55rem;
    @include responed(tablet-landscape){

        width:70%;
        margin-left: 5rem;
        margin-bottom: 6rem;
        
        
    }
    @include responed(tablet-port){
        width: 85%;
        
        margin-bottom: 6rem;
        
        
    }
    @include responed(phone){
        width: 60%;
        margin:0 auto
    }
    @include responed(small-phone){
        width: 90%;
    }
    &__img{
        width: 100%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &-container{
            height: 15rem;
            width: 100%;
            position: relative;
            overflow: hidden;
            margin-bottom: 1rem;
        }
        
        
    }
    &__male-name{
     
        font-size: 2.5rem;
        font-style: bold;
        text-align: center;
        margin-bottom: 1rem;

    }
    &__male-resturant{
        font-weight: 400;
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        &-italic{
            font-style: italic;
        }

    }
    &__item{
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.4rem;
      
    }
   
        
       
    
    &__text{
        display:inline-block ;
        width: 80%;
        margin-left: 5;
        margin-right: 5%;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 1rem;
        
    }
    &__disc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__disc-text{
        text-align: center;
        font-size: 2.2rem;
        
        display: inline-block;
        &-orignal{
            color: #F83D3D;
            text-decoration: line-through;
        }
        &-after{
            color:#1BDFA3;
        }
    }
    &__btn.btn__green.btn:link,
    &__btn.btn__green.btn:visited{
        
        
         display: flex;
         
         width: 15rem;
        
         margin-top: 3rem;
        box-shadow: none;
        @include responed(phone){
             width: 15rem;
             
            }
        
     
       
       
       
        }

   
}