.footer{
    padding: 6rem 0;
    background-color: #000;
    color: $color-white;
    &-text{
        font-size: 3rem;
        font-weight: 300;
        display: inline-block;
        width: 30%;
        margin-bottom: 2rem;
        @include responed(phone){
            width: 100%;
        }
        text-align: center;
    }
    &-text-right{
        float: right;
        width: 25%;
        @include responed(phone){
            width: 100%;
        }
    }
    &-text-right a{
        text-decoration: none;
        color: #fff;
    }
    &-copyright{
        text-align: center;
        font-size: 3rem;
        margin-top: 2rem;
        
    }

}