.footer{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 4%;
         &__wrapper{
            width: 100%;
            background-color: #000;
            display: flex;
            justify-content:space-between;
            color: #ffffff;
          
            margin-bottom:3rem;
            @include responed(small-tablet){
               flex-direction: column;
               align-items: center;
               justify-content: center;
             
                  
                 }
         }
         &__text{
            width: 40%;
            &-ar{
                order:5;
                text-align: end;
            }
            @include responed(small-tablet){
                width: 50%;
                text-align: center;
                margin-bottom: 4rem;
                &-ar{
                    order:0;
                    text-align: center;
                }
            }
          
            @include responed(small-phone){
                width: 80%;
                text-align: center;
                margin-bottom: 4rem;
               
            }
         }
         &__header{
            font-family: sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
         }
         &__parg{
            font-size: 1.6rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         }
    & h1{
        font-size: 3rem;
        align-self: flex-end;
       
        @include responed(small-tablet){
            align-self: center;
            margin-bottom: 2rem;
        }
    }
    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        @include responed(small-tablet){
            
            margin-bottom: 2rem;
        }
        h3{
            margin-bottom: 1.5rem;
            font-size: 3rem;


        }
        h4{
            font-size: 2rem;
        }
    }
    &__lower{
        border-top: 1px solid #444;
        color: #eee;
        font-size: 1.2rem;
        text-align: left;
        text-align: center;
        width: 100%;
        padding:1rem;
    }
}

.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
    & h1{
        font-size: 2.5rem;
        margin-bottom: 3rem;
        font-family: serif;
        align-self: flex-start;
    }

}
.icon{
  width:3rem;
  height: 3rem;
  margin-right: 1rem;
  @include responed(small-tablet){
       
    margin-bottom: 4rem;
}
}
