header{
   background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../img/header-4.jpg");
    height: 65vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include responed(phone){
        width: 100%;
    }
    
}
