/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #fff;
  color: #555;
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

.u-center-position {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

@media (max-width: 75em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

@media (max-width: 75em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important; } }

body {
  font-family: 'Lato',sans-serif,serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility; }

.heading-primary {
  margin-top: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: block;
  width: 80%;
  margin: 0 auto; }
  .heading-primary__red {
    color: #F14848; }
  .heading-primary__pur {
    color: #BF6FF3; }
  @media (max-width: 75em) {
    .heading-primary {
      width: 100%;
      font-size: 2.5rem;
      margin-top: 5rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
  color: #000; }
  .heading-secondary-white {
    color: #fff; }
  @media (max-width: 75em) {
    .heading-secondary {
      margin-left: 4rem; } }

.heading-third {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }
  .heading-third-black {
    color: #000; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  text-align: center; }

.btn__green, .btn__green:link, .btn__green:visited {
  padding: .7rem 3rem;
  border-radius: 3rem;
  background-color: #1BDFA3;
  -webkit-box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .btn__green:hover, .btn__green:link:hover, .btn__green:visited:hover {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }
  .btn__green:active, .btn__green:link:active, .btn__green:visited:active {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }

.btn__green-big:link, .btn__green-big:visited {
  float: right;
  font-size: 3rem;
  margin-right: 3rem;
  padding: 1rem 4rem; }

.btn__logo {
  padding: 0 1.3rem;
  text-align: center;
  height: 3.5rem;
  border-radius: 80px;
  -webkit-box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.3); }
  .btn__logo:not(:last-child) {
    margin-right: 1rem; }
  .btn__logo-img {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    margin-right: .5rem; }
  .btn__logo-text {
    display: inline-block;
    text-align: center;
    -webkit-transform: translateY(-0.8rem);
        -ms-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem); }
  .btn__logo:hover {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }
  .btn__logo:active {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }

.btn__red {
  background-color: #F83D3D; }

.btn__blue {
  background-color: #255C99; }

.btn__light-green {
  background-color: #1BDFA3; }

.box-food {
  text-align: center;
  padding: 5rem 3rem;
  -webkit-box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  height: 35rem;
  cursor: pointer; }
  @media (max-width: 75em) {
    .box-food {
      margin-left: 10rem;
      margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    .box-food {
      width: 45%; } }
  @media (max-width: 37.5em) {
    .box-food {
      width: 44%;
      margin: 0 auto; } }
  @media (max-width: 30em) {
    .box-food {
      width: 55%;
      margin: 0 auto; } }
  .box-food__container {
    height: 30%; }
  .box-food__img {
    width: 50%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 3rem; }
  .box-food__pragraph {
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff; }
  .box-food-1 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #2955b9), to(#2f7acc));
    background-image: -o-linear-gradient(left, #2955b9 50%, #2f7acc 100%);
    background-image: linear-gradient(90deg, #2955b9 50%, #2f7acc 100%); }
  .box-food-2 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #1BDFA3), to(#00FFB1));
    background-image: -o-linear-gradient(left, #1BDFA3 50%, #00FFB1 100%);
    background-image: linear-gradient(90deg, #1BDFA3 50%, #00FFB1 100%); }
  .box-food-3 {
    background-image: -o-linear-gradient(45deg, #7C1F1F 10%, #F5A4A4 100%);
    background-image: linear-gradient(45deg, #7C1F1F 10%, #F5A4A4 100%); }
  .box-food-4 {
    background-image: -o-linear-gradient(45deg, #CE576F 10%, #C73EBE 100%);
    background-image: linear-gradient(45deg, #CE576F 10%, #C73EBE 100%); }
  .box-food-5 {
    background-image: -o-linear-gradient(45deg, #A06C77 2%, #E9AA17 100%);
    background-image: linear-gradient(45deg, #A06C77 2%, #E9AA17 100%); }

.rating {
  margin-left: 4rem;
  margin-bottom: 1rem; }
  .rating-star {
    width: 1.2rem;
    display: inline-block; }
  .rating-text {
    display: inline-block;
    font-size: 1.3rem; }
  .rating_recomend {
    margin-left: 0; }

.offer-table {
  background-color: #FFFAEE;
  width: 90%;
  padding-bottom: 3rem;
  -webkit-box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .offer-table {
      width: 70%;
      margin-left: 5rem;
      margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .offer-table {
      width: 85%;
      margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .offer-table {
      width: 60%;
      margin: 0 auto; } }
  @media (max-width: 30em) {
    .offer-table {
      width: 75%; } }
  .offer-table__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .offer-table__img-container {
      height: 15rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem; }
  .offer-table__male-name {
    font-weight: 400;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem; }
  .offer-table__male-resturant {
    font-weight: 400;
    font-size: 2.5rem;
    margin-left: 4rem; }
    .offer-table__male-resturant-italic {
      font-style: italic; }
  .offer-table__text {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 1rem; }
  .offer-table__disc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer-table__disc-text {
    text-align: center;
    font-size: 2.2rem;
    display: inline-block; }
    .offer-table__disc-text-orignal {
      color: #F83D3D;
      text-decoration: line-through; }
    .offer-table__disc-text-after {
      color: #1BDFA3; }
  .offer-table__btn.btn__green.btn:link, .offer-table__btn.btn__green.btn:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15rem;
    margin-top: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none; }
    @media (max-width: 37.5em) {
      .offer-table__btn.btn__green.btn:link, .offer-table__btn.btn__green.btn:visited {
        width: 15rem; } }

.recomended {
  color: #000;
  text-align: center; }
  .recomended__logo {
    width: 90%;
    height: 24rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 1rem; }
  .recomended__text {
    font-weight: 300;
    font-size: 1.5rem;
    display: inline-block;
    width: 40%; }
  .recomended__btn:link, .recomended__btn:visited {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #000; }

.row {
  max-width: 114rem;
  background-color: 0;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 100%;
      padding: 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 50% !important; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( ( 100% - 2 * 6rem) / 3); }
  @media (max-width: 75em) {
    .row .col-1-of-3 {
      width: calc( ( 100% - 2 * 6rem) / 2); } }
  @media (max-width: 56.25em) {
    .row .col-1-of-3 {
      display: block; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( ( 100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (( 100% - 3* 6rem) / 4)*3 + 6rem); }
  .row .col-1-of-5 {
    width: calc( ( 100% - 4* 6rem) / 5); }
  @media (max-width: 75em) {
    .row .col-1-of-5 {
      width: calc( ( 100% - 4* 6rem) / 3); } }
  .row .col-2-of-5 {
    width: calc(4 * ((100% - 3 * 6rem) / 5) + 6rem); }
  .row .col-3-of-5 {
    width: calc( (( 100% - 3* 6rem) / 5)*4 + 6rem); }
  .row .col-4-of-5 {
    width: calc( (( 100% - 3* 6rem) / 5)*4 + 6rem); }

.nav::after {
  content: '';
  display: table;
  clear: both; }

.nav__logo {
  width: 14rem;
  height: 14rem;
  float: left;
  padding-top: 1rem; }
  @media (max-width: 75em) {
    .nav__logo {
      width: 9rem;
      height: 9rem;
      position: absolute;
      top: 2rem;
      left: 6rem; } }

.nav__list {
  float: right;
  list-style: none;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 4rem; }
  @media (max-width: 75em) {
    .nav__list {
      display: none; } }

.nav__item {
  display: inline-block; }
  .nav__item:not(:last-child) {
    padding-right: 3rem; }

.nav__link:link, .nav__link:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  text-transform: uppercase; }

.nav__link:hover, .nav__link:active {
  font-weight: 400;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #1BDFA3;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/header.jpg");
  background-image: -o-linear-gradient(left top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header.jpg");
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative; }

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 37.5em) {
    .header-box {
      width: 100%; } }

.footer {
  padding: 6rem 0;
  background-color: #373B44;
  color: #fff; }
  .footer-text {
    font-size: 3rem;
    font-weight: 300;
    display: inline-block;
    width: 30%;
    margin-bottom: 2rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .footer-text {
        width: 100%; } }
  .footer-text-right {
    float: right;
    width: 25%; }
    @media (max-width: 37.5em) {
      .footer-text-right {
        width: 100%; } }
  .footer-copyright {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem; }

.type-of-food {
  padding: 4rem 0;
  background-color: #FFFAEE; }

.section-offer {
  padding: 10rem 0;
  background-color: #255C99;
  color: #000; }

.section-recomend {
  padding: 10rem 0;
  background-color: #FFFAEE; }
