@mixin clear-fix{
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}






@mixin responed($brekpoint) {
    @if $brekpoint ==small-phone{
        @media (max-width:30em){@content;}//480px
    }
    @if $brekpoint == phone{
        @media (max-width: 37.5em) {@content;} //600px
        }

    @if $brekpoint == tablet-port{
         @media (max-width: 56.25em) {@content;} //900px
            }

    @if $brekpoint == tablet-landscape{
         @media (max-width: 75em) {@content;} //1200px
                } 
    @if $brekpoint == big-desktop{
          @media (min-width: 112.5em ) {@content;} //1800px
          }              
    }
    