//colors
$color-black:#000;
$color-white:#fff;
$color-yellow-light:#FFFAEE;

$color-blue-dark:#255C99;
$color-red-light:#F83D3D;


//grid 
$grid-width:120rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horzainel:3rem;